.what-i-do-container{
    margin-top:10%;
}
.text-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: white;

}

.first-line{
    font-style: italic;
}

.second-line{
    font-weight: bolder;
}

.card-holder{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}