/* // HERO PAGE/ */
.hero-container{
    height: 100vh;
    
  }
  .list-wrapper{
    display: flex;
    list-style: none;
    align-items: flex-end;
    justify-content: flex-end;
    color:white;
    font-family: 'Candara';
  }
  
  .list-item{
    padding: 20px;
    font-size: larger;
  
  }
  .list-item:hover{
    font-weight: bold;
    transition: 500ms ease-in;
    cursor: pointer;
  
  }
  
  
  i{margin-left: 25px;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 1.8vw;
    color:white
  }
  
  .devdes-container{
    font-size: 16.2rem;

    font-weight: 900;
    color: transparent;
    /* -webkit-text-fill-color: black; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;}
  
    .devdes-container:hover{
       
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
      transition: 5000ms ease-in-out;
       cursor: pointer;}
    
  
  
  
  .resume-button{
    height: 10% !important;
    width: 25%;
    padding: 20px 20px 20px 30px;
    margin: 20px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 900;
    font-family:Acme, Geneva, Tahoma, sans-serif;
    box-shadow: #000 2px;
    font-size: 150%;
    text-align: center; 
    line-height: 2vw;
    border-style: none;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(48, 50, 50, 0.23);
  -moz-box-shadow:    7px 7px 5px 0px rgba(48, 50, 50, 0.23);
  box-shadow:         7px 7px 5px 0px rgba(48, 50, 50, 0.23);
    
  
  }
  .resume-button:hover{
    transform: scale(1.1);
    transition: 200ms ease-in-out;
  
  }
  
  .name-cont-wrapper{
    margin-top: 10vw;
    padding-left: 5vw;
    width: 60vw;
  }
  
  #authorName{
    height: fit-content;
    font-size: 10vw;
    color: white;
    font-weight: 700;
    margin: 10px;
    text-shadow: #000 2px 4px 5px;
  }
  
  
  p{
    
    margin: 10px;
    margin-bottom: 50px;
    font-size: 5vw;
  
  
  }
  
  img{
  max-width: 100%;
  height: 5vw;
  margin: 20px;
  }
  
  .button-git-link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .spanned-line{
    color:white;
    font-size: 4rem;
    margin-right: 20px;
    margin-left: 20px;
  
  
  }
  .githubLinkedin{
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  @media screen and (max-width:768px) {
    .name-cont-wrapper{
      width: 100%;
    }
    .hero-container{
      width: 100vw;
    }
    .resume-button{
      width: 40%;
      font-size: 160%;

      line-height: 2vw;
      text-align: center;
      /* padding-bottom: 5%; */

    }
    i{
      font-size: 4vw;

    }
  
  
    #authorName{
      font-size: 20vw;
    }
  }
  

  @media screen and (max-width:430px) {
    .hero-container{
      width: 120vw;
    }
    .name-cont-wrapper{
      margin-top: 20vh;

    }

    #authorName{
      font-size: 20vw;
      text-decoration: remove;
    }
    p{
      font-size: 15vw;
      text-decoration: none;

    }

    img{
      height: 20vw;
    }

  
    .resume-button{
     width: 55vw;
     height: 15vw;

    }

    .button-git-link{
      flex-direction: column;
      align-items: flex-start;
    }
    .githubLinkedin{

    }
    
  }
